body{
    margin: 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #000000;
    font-family: Arial, Helvetica, sans-serif;
}

li, ul{
    list-style: none;
    display: inline;
    margin:0px;
    padding-left: 0px;
    font-size: 16px;
    word-spacing: 14px;
    flex-shrink: 0;
}
a {
    text-decoration: none;
    color:#000000;
}
.a1 {
    color:#f5dc00; 
}

.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #f5dc00;
    text-align: center;
}

.header {
    display: flex;
    background-color: #445c1e;
    color:#000000;
    justify-content: space-between;
    align-items: center;
    padding: 10px 250px ;
    font-weight: bold;
    font-size: 20px;
    
    
}

.footer {
    display: flex;
    background-color: #445c1e;
    color: #000000;
    justify-content: center;
    padding: 20px;
}

.toplog {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #445c1e;
    padding: 40px 0px;
   
}

.rectangle, .rectangle1 {
    height: 214px;
    width: 400px;
    margin: 40px;
    margin-bottom: 80px;
}

.rectangle {
    margin-left: 250px;
    text-align: left;
    
    
    
}

.rectangle1 {
    background-color: #f5dc00;
    margin-right: 250px;
    text-align: center;

}

.p1 {
    font-size: 48px;
    font-weight: bold;
    margin: 0px;
}

.p2 {
    font-size: 18px;
    margin: 0px;
    color: #f5dc00 ;
    padding-bottom: 6px;
}

button {
    padding: 6px 18px;
    border-radius: 8px;
    background: #000000;
    border: 1px solid #f5dc00;
    color: #f5dc00;

}

.navi {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    padding-top: 80px;
}

.square {
    height: 200px;
    width: 200px;
    background-color: #827e00;
    border-radius: 18px;
    border: 6px solid black;
    margin-bottom: 80px;
    flex-shrink: 0;
}

.square1 {
   
    height: 200px;
    width: 200px;
    background-color: #827e00;
    border-radius: 18px;
    border: 6px solid black;
    margin-bottom: 80px;
    font-weight: bold;
    font-size: 18px;
    color: black;
    flex-shrink: 0;
}

h1 {
    margin-top: 80px;
}

.img1 {
    border-radius: 10px;
}

p {
    margin-top: 10px;
    
}