body{
    margin: 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #000000;
    font-family: Arial, Helvetica, sans-serif;
}

li, ul{
    list-style: none;
    display: inline;
    margin:0px;
    padding-left: 0px;
    font-size: 16px;
    word-spacing: 14px;
}
a {
    text-decoration: none;
    color:#000000;
}

.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #f5dc00;
}

.header {
    display: flex;
    background-color: #445c1e;
    color:#000000;
    justify-content: space-between;
    align-items: center;
    padding: 10px 250px ;
    font-weight: bold;
    font-size: 20px;
    flex-wrap: wrap;
    
}

.footer {
    display: flex;
    background-color: #445c1e;
    color: #000000;
    justify-content: center;
    padding: 20px;
}

.toplog {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #445c1e;
    
}

.rectangle, .rectangle1 {
    height: 214px;
    width: 400px;
    margin: 40px;
}

.rectangle {
    margin-left: 250px;
    text-align: left;
    margin-bottom: 80px;
}

.rectangle1 {
    background-color: #f5dc00;
    margin-right: 250px;
    text-align: center;

}

.p1 {
    font-size: 48px;
    font-weight: bold;
    margin: 0px;
}

.p2 {
    font-size: 18px;
    margin: 0px;
}
